.post-meta {
    text-align: center;
    color: #888;
}

.post-title {
    text-align: center;
}

.post-content p {
    margin-bottom: 1.5em;
    text-align: justify;
}

.post-content ul {
    margin-bottom: 1.5em;
}

.post-content p, .post-content ul li {
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.7;
    /*margin-bottom: 1.5em;*/
    /*font-family: serif;*/
    /*font-size: 12pt;*/
}

.post-content pre, .post-content code {
    border: 0;
}

.post-content pre {
    max-height: 12em;
    /*overflow: scroll;*/
    margin-bottom: 1.5em;
    font-size: 12pt;
    overflow: auto;
    background-color: black;
    color: lightgray;
}

.footer .breadcrumb {
    text-align: center;
}

code {
    background-color: #f5f5f5;
    color: black;
}

.note {
    background-color: #ffffe0;
    border-color: #ffff00;
    border-radius: 4px;
    padding: 1em;
    overflow: auto;
    padding-left: 3em;
    vertical-align: middle;
}

.note:before {
    font-family: FontAwesome;
    content: '\f0eb';
    display: inline-block;
    float: left;
    font-size: 3em;
    margin-left: -.5em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.note p {
    margin-bottom: auto;
    margin-left: 1.5em;
}

.note pre {
    margin-top: 1em;
    margin-bottom : auto;
    margin-left: 1.5em;
}