<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stage1 / Blog</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/bootstrap.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/font-awesome.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/public.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css" />
    </head>

    <body>
        <div class="container-narrow">

            {% include navigation.html %}

            {{ content }}

            {% include footer.html %}

        </div> <!-- /container -->
    </body>
</html>
