<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>STAGE1 / Blog</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/vendor/font-awesome.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/public.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css" />
</head>


<body>

    <div class="row-fluid masthead">
        <div class="container">
            <ul class="nav nav-pills pull-right">
                <li><a href="http://stage1.io/blog/">Blog</a></li>
                <li><a href="http://help.stage1.io/">Help</a></li>
                <li><a href="http://stage1.io/login/github"><i class="fa fa-github"></i> Login</a></li>
            </ul>

            <ul class="nav nav-pills">
                <li><a href="/">STAGE1 / Blog</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid jumbotron">
        <div class="container">
            <div class="span6">
                <h2><a href="/blog/">The blog</a></h2>
            </div>

            <div class="span4 offset2 beta-register">

                <p class="lead"><strong>Register now</strong><br /> for the private beta.</p>
                
                <form method="post" action="/beta">
                    <div class="input-append">
                        <input type="text" name="email" placeholder="john.doe@gmail.com" />
                        <button class="btn btn-success">Register</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="container-narrow">

            <h3 class="post-title">{{ page.title }}</h3>

            <p class="post-meta">
                <small>
                A tale about {{ page.tags | array_to_sentence_string }},
                by {{ site.owner.name }}, on {{ page.date | date: "%B %d, %Y" }}.
                </small>
            </p>

            <hr />

            <div class="post-content">
                {{ content }}
            </div>

            {% if page.comments %}

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'stage1'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            {% endif %}
    
    </div>

    <div class="row-fluid footer">
        <div class="container">
            <p>Stage1 &copy; 2013-2014</p>
            <br />
            <a href="https://github.com/stage1"><i class="fa fa-github-square fa-4x"></i></a>
            &nbsp;
            <a href="https://twitter.com/stage1hq"><i class="fa fa-twitter-square fa-4x"></i></a>
        </div>
    </div>
</body>
</html>